<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.shop.product.mapper.ProductMapper">
    <select id="findProductListWithOption" resultType="com.example.shop.product.dto.response.ProductListResponse">
        WITH RECURSIVE category_tree AS (
        SELECT id
        FROM categories
        WHERE id = #{request.categoryId}

        UNION ALL

        SELECT c.id
        FROM categories c
        JOIN category_tree ct
        ON c.parent_id = ct.id
        )

        SELECT
        p.id AS productId,
        p.name,
        p.price,
        pi.photo_path AS thumbnailPath
        FROM products p

        LEFT JOIN product_images pi
        ON pi.product_id = p.id
        AND pi.sort_order = 1

        <where>
            p.status != 'DELETED'

            <!-- 검색 옵션 -->
            <if test="request.keyword != null and request.keyword != ''">
                AND p.name LIKE CONCAT('%', #{request.keyword}, '%')
            </if>

            <if test="request.categoryId != null">
                AND p.category_id IN (
                SELECT id FROM category_tree
                )
            </if>

            <if test="request.sellerId != null">
                AND p.seller_id = #{request.sellerId}
            </if>
        </where>

        ORDER BY p.created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <update id="decreaseStock">
        UPDATE products p
        SET stock = stock - #{quantity}
        where id = #{id}
        and stock >= #{quantity}
    </update>

    <update id="increaseStock">
        UPDATE products
        SET stock = stock + #{quantity}
        WHERE id = #{id}
    </update>
</mapper>